<?xml version="1.0" encoding="UTF-8" ?>
<Configuration packages="org.apache.logging.log4j.core">

	<Properties>
		<Property name="logPath">/nas/logs/v3/performance</Property>
		<Property name="logFileNamePrefix">v3-performance</Property>
		<Property name="maxFileSize">50MB</Property>
		<Property name="httpTrace_log_file">httpTrace.log</Property>
		<Property name="log_pattern">[%p] %d{yyyy-MM-dd HH:mm:ss,SSS} T-%t:%c:%L - %m%n</Property>
	</Properties>

	<Appenders>

		<RollingFile name="RollingFileInfo"
			fileName="${logPath}/${logFileNamePrefix}.log"
			filePattern="${logPath}/${logFileNamePrefix}.log.%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="${log_pattern}" />
			<ThresholdFilter onMismatch="DENY" onMatch="ACCEPT" level="INFO"/>
			<!--文件大小超过限制或者间隔一天则日志卷动打包-->
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxFileSize}"/>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			</Policies>
			<!--删除20天以前的日志文件-->
			<DefaultRolloverStrategy max="20">
				<Delete basePath="${logPath}/" maxDepth="2">
					<IfFileName glob="*.log.*" />
					<IfLastModified age="20d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileWarn"
					 fileName="${logPath}/${logFileNamePrefix}-warn.log"
					 filePattern="${logPath}/${logFileNamePrefix}-warn.log.%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="${log_pattern}" />
			<Filters>
				<ThresholdFilter onMismatch="NEUTRAL" onMatch="DENY" level="ERROR"/>
				<ThresholdFilter onMismatch="DENY" onMatch="ACCEPT" level="WARN"/>
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxFileSize}"/>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="20">
				<Delete basePath="${logPath}/" maxDepth="2">
					<IfFileName glob="*.log.*" />
					<IfLastModified age="20d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileError"
					 fileName="${logPath}/${logFileNamePrefix}-error.log"
					 filePattern="${logPath}/${logFileNamePrefix}-error.log.%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="${log_pattern}" />
			<ThresholdFilter onMismatch="DENY" onMatch="ACCEPT" level="ERROR"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${maxFileSize}"/>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="20">
				<Delete basePath="${logPath}/" maxDepth="2">
					<IfFileName glob="*.log.*" />
					<IfLastModified age="20d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="HttpTraceFile"
                     fileName="${logPath}/${logFileNamePrefix}-httpTrace.log"
                     filePattern="${logPath}/${logFileNamePrefix}-httpTrace.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${log_pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="${maxFileSize}"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${logPath}/" maxDepth="2">
                    <IfFileName glob="*.log.*" />
                    <IfLastModified age="5d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
		
		<Console name="console" target="SYSTEM_OUT">
			<ThresholdFilter level="INFO" />
			<PatternLayout pattern="${log_pattern}">
				<charset>UTF-8</charset>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="HttpTraceLogFilter" additivity="FALSE" level="ALL">
			<AppenderRef ref="HttpTraceFile" level="ALL" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="RollingFileInfo" />
			<AppenderRef ref="RollingFileWarn" />
			<AppenderRef ref="RollingFileError" />
			<AppenderRef ref="console" />
		</Root>
	</Loggers>

</Configuration>